@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* font-family: 'Press Start 2P', cursive; */
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
    /* Korean */
}

:root {
    --main-color: #018281;
    --primary-color: #209cee;
    --success-color: #92cc41;
    --warning-color: #f7d51d;
    --error-color: #e76e55;
    --gray-color: #eeeeee;
    --dark-color: #212529;
}

body {
    font-family: 'DungGeunMo', serif;
    font-size: 2rem;
    background-color: #f9f9f9;
    opacity: 0.8;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #ececec 0, #ececec 0.4px, #f9f9f9 0, #f9f9f9 50%);
}